
.icon-github, .icon-glasses, .icon-home, .icon-moon, .icon-pointer, .icon-sun, .icon-task, .icon-x {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon-github {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M16 22.027v-2.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 00-1.5-3.75 5.07 5.07 0 00-.09-3.77s-1.18-.35-3.91 1.48a13.4 13.4 0 00-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 005 5.797a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 00-.94 2.58v2.87'/%3E%3Cpath d='M9 20.027c-3 .973-5.5 0-7-3'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-glasses {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Ccircle cx='6' cy='15' r='4'/%3E%3Ccircle cx='18' cy='15' r='4'/%3E%3Cpath d='M14 15a2 2 0 00-2-2 2 2 0 00-2 2m-7.5-2L5 7c.7-1.3 1.4-2 3-2m13.5 8L19 7c-.7-1.3-1.5-2-3-2'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-home {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='M16.612 2.214a1.01 1.01 0 00-1.242 0L1 13.419l1.243 1.572L4 13.621V26a2.004 2.004 0 002 2h20a2.004 2.004 0 002-2V13.63L29.757 15 31 13.428ZM18 26h-4v-8h4Zm2 0v-8a2 2 0 00-2-2h-4a2 2 0 00-2 2v8H6V12.062l10-7.79 10 7.8V26Z'/%3E%3C/svg%3E");
}

.icon-moon {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='M13.503 5.414a15.076 15.076 0 0011.593 18.194 11.1 11.1 0 01-7.975 3.39c-.138 0-.278.005-.418 0a11.094 11.094 0 01-3.2-21.584M14.98 3a1 1 0 00-.175.016 13.096 13.096 0 001.825 25.981c.164.006.328 0 .49 0a13.07 13.07 0 0010.703-5.555 1.01 1.01 0 00-.783-1.565A13.08 13.08 0 0115.89 4.38 1.015 1.015 0 0014.98 3'/%3E%3C/svg%3E");
}

.icon-pointer {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M22 14a8 8 0 01-8 8m4-11v-1a2 2 0 00-2-2v0a2 2 0 00-2 2v0m0 0V9a2 2 0 00-2-2v0a2 2 0 00-2 2v1m0-.5V4a2 2 0 00-2-2v0a2 2 0 00-2 2v10'/%3E%3Cpath d='M18 11a2 2 0 114 0v3a8 8 0 01-8 8h-2c-2.8 0-4.5-.86-5.99-2.34l-3.6-3.6a2 2 0 012.83-2.82L7 15'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-sun {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath fill='black' d='M16 12.005a4 4 0 11-4 4 4.005 4.005 0 014-4m0-2a6 6 0 106 6 6 6 0 00-6-6M5.394 6.813 6.81 5.399l3.505 3.506L8.9 10.319zM2 15.005h5v2H2zm3.394 10.193L8.9 21.692l1.414 1.414-3.505 3.506zM15 25.005h2v5h-2zm6.687-1.9 1.414-1.414 3.506 3.506-1.414 1.414zm3.313-8.1h5v2h-5zm-3.313-6.101 3.506-3.506 1.414 1.414-3.506 3.506zM15 2.005h2v5h-2z'/%3E%3C/svg%3E");
}

.icon-task {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M14.5 11.752 8 15.5l-6.5-3.752.002-7.5L8 .5l6.5 3.752zM1.5 4.25 8 8m6.5-3.75L8 8m.003 0v7.5'/%3E%3C/svg%3E");
}

.icon-x {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' d='M9.294 6.928 14.357 1h-1.2L8.762 6.147 5.25 1H1.2l5.31 7.784L1.2 15h1.2l4.642-5.436L10.751 15h4.05zM7.651 8.852l-.538-.775L2.832 1.91h1.843l3.454 4.977.538.775 4.491 6.47h-1.843z'/%3E%3C/svg%3E");
}


