.Footer {
  text-align: center;
  padding: 6rem 0 3rem;
}

.Footer img {
  margin: 2rem auto;
}

.Footer p {
  font-weight: 700;
    margin: 0px;
    font-size: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
}
