.footer {
  text-align: center;
  padding: 6rem 0 3rem;
}

.footer img {
  margin: 2rem auto;
}

.footer p {
  font-weight: 700;
  margin: 6px 0 0;
  font-size: 1.4rem;
  color: var(--primary-color);
}
