.btnScrollTop {
  position: fixed;
  right: 3rem;
  bottom: 4rem;
  width: 28px;
  height: 28px;
  opacity: 0;
  transition: 300ms;

  @media (max-width: 768px) {
    right: 1rem;
  }

  @media (max-width: 576px) {
    bottom: 5.8rem;
  }
}

.btnScrollTopActive {
  opacity: 1;
}

.btnScrollTop button {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--highlight-color);
  transition: 359ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnScrollTop button:hover {
  transform: translateY(-5px);
}

.btnScrollTop button svg {
  width: 100%;
  transform: scale(1.8);
}

.btnScrollTop button path {
  fill: #fff;
}
