.wrap {
  max-width: 980px;
  margin: 100px auto;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.9;
  color: var(--highlight-color);
  margin-bottom: 3.8rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.repoListWrap {
  margin-bottom: 3.2rem;
}

.repoList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.repoTitle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.9;
  color: var(--primary-color);
  margin: 0 0 1.4rem;

  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}

.repoItem {
  padding: 1.6rem;
  border-radius: 1.6rem;
  // background-color: white;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--border-repo);
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  max-height: 150px;

  > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.repoName {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 1.6rem;
  line-height: 1.9;
  color: var(--primary-color);

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}

.desc {
  gap: 6px;
  font-size: 1.4rem;
  line-height: 1.9;
  color: var(--sub-color);
  margin: 10px 0 10px;
  font-weight: 500;
}

.repoStatus {
  color: var(--color-hover);
  border-radius: 40px;
  overflow: hidden;
  padding: 2px 8px;
  position: relative;
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-hover);
    opacity: 0.15;
  }
}

.logo path {
  fill: var(--primary-color) !important;
}

.lang {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 1.4rem;
  line-height: 1.9;
  color: var(--sub-color);
  margin: 10px 0 10px;
  font-weight: 500;
}

.lang span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
}

.repoInfo {
  display: flex;
  gap: 16px;
  align-items: center;

  > a > span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  a {
    font-size: 1.4rem;
    line-height: 1.9;
    color: var(--sub-color);
    margin: 10px 0 10px;
    font-weight: 500;
  }

  svg path {
    fill: var(--primary-color) !important;
  }
}
