.tags {
  display: flex;
  gap: 12px;
  flex-flow: wrap;
  margin: 4px 0 0;
  @media (max-width: 768px) {
    gap: 8px;
  }
}

.title1.title1 {
  font-size: 3.2rem !important;
  font-weight: 600;
  line-height: 1.9;
  color: var(--highlight-color);
  margin-bottom: 3.8rem;
  text-align: center;
}

.tagItem {
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 2px 8px;
  font-size: 18px;
  text-transform: capitalize;
  background-color: var(--highlight-color);

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 0 4px;
  }
}

.javascript {
  background-color: rgb(202, 176, 51, 0.3);
  border: 1px solid #cab033;
  color: black;
}

.css {
  background-color: rgb(31, 75, 224, 0.3);
  border: 1px solid #1f4be0;
  color: #1f4be0;
}

.html {
  background-color: rgb(211, 75, 50, 0.3);
  border: 1px solid #d34b32;
  color: #d34b32;
}

.docker {
  background-color: rgb(32, 142, 224, 0.3);
  border: 1px solid #208ee0;
  color: #208ee0;
}

.git {
  background-color: rgb(229, 75, 49, 0.3);
  border: 1px solid #e54b31;
  color: #e54b31;
}
.nginx,
.tips {
  background-color: rgb(5, 114, 43, 0.3);
  border: 1px solid #05722b;
  color: #05722b;
}
.nodejs {
  background-color: rgb(136, 188, 61, 0.3);
  border: 1px solid #88bc3d;
  color: #88bc3d;
}
.reactjs {
  background-color: rgb(2, 210, 242, 0.3);
  border: 1px solid #02d2f2;
  color: #02d2f2;
}
.scss {
  background-color: rgb(194, 97, 146, 0.3);
  border: 1px solid #c26192;
  color: #c26192;
}
.typescript {
  background-color: rgb(46, 114, 188, 0.3);
  border: 1px solid #2e72bc;
  color: #2e72bc;
}
.vitejs {
  background-color: rgb(134, 108, 240, 0.3);
  border: 1px solid #866cf0;
  color: #866cf0;
}
.webpack {
  background-color: rgb(27, 113, 182, 0.3);
  border: 1px solid #1b71b6;
  color: #1b71b6;
}
.solidjs {
  background-color: rgb(3, 69, 142, 0.3);
  border: 1px solid #03458e;
  color: #03458e;
}
.sveltejs {
  background-color: rgb(242, 59, 0, 0.3);
  border: 1px solid #f23b00;
  color: #f23b00;
}
.vuejs {
  background-color: rgb(3, 179, 123, 0.3);
  border: 1px solid #03b37b;
  color: #03b37b;
}

.nextjs {
  background-color: #0f0e17f0;
  border: 1px solid #0f0e17f0;
}

.listBlog {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.blogItem {
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  transition: all 350ms;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--border-repo);
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  .img {
    position: relative;
    aspect-ratio: 4 / 3;
    height: 100%;

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

.content {
  padding: 20px 12px;

  @media (max-width: 768px) {
    padding: 10px;
  }

  h2 {
    font-size: 16px !important;
    text-align: left;
    line-height: 20px;
    margin: 0 0 12px !important;
    @media (max-width: 768px) {
      font-size: 14px !important;
    }
  }
}

.date {
  font-size: 14px !important;
  @media (max-width: 768px) {
    font-size: 12px !important;
  }
}
