.navBar {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  width: 100%;
  background-color: var(--primary-bg);
  z-index: 1000;
  display: none;
  transition: 350ms;
  opacity: 0.85;
}

.navList {
  display: flex;
  align-items: center;
  padding: 1.2rem;
}

.navItemLogo {
  flex: 1;
  margin: 0;
}

.navItemLogo svg {
  max-width: 42px;
}

.navItem {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 350ms;
  cursor: pointer;
  margin: 0 1rem;
  font-family: var(--primary-font);
}

.navItem:hover {
  color: var(--color-hover);
}

@media (min-width: 600px) {
  .navBar {
    display: block;
  }
}
