.navBar {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1000;
  // display: none;
  transition: 350ms;
  background: var(--bg-header);
  backdrop-filter: blur(8px);
}

.navList {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.navItemLogo {
  flex: 1;
  margin: 0 !important;
  cursor: pointer;
}

.navItemLogo svg {
  max-width: 42px;
}

.navItem a {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
  // transition: 350ms;
  cursor: pointer;
  margin: 0 1rem;
}

.navItem a {
  display: flex;
  align-items: center;

  svg path {
    fill: var(--primary-color) !important;
    transition: all 300ms;
  }
}

// .navItem {
//   a:hover {
//     color: var(--color-hover);
//   }

//   a:hover svg path {
//     fill: var(--color-hover) !important;
//   }
// }

@media (min-width: 600px) {
  // .navBar {
  //   display: block;
  // }
}
