.portfolioTitle {
  color: var(--highlight-color);
  font-size: 2rem;
  margin: 0px 0px 4rem;
  font-weight: 700;
  transition: color 0.2s ease-out 0s;
  text-align: center;
}

.projectItem {
  overflow: hidden;
}

.projectItem h3 {
  color: #fff !important;
  text-align: center;
  font-size: 1.6rem;
  position: relative;
  line-height: 1.8;
  font-weight: 600;
  margin-bottom: 3rem;
  font-style: italic;
}
.projectItem span {
  position: relative;
  padding: 4px 6px;
}

.projectItem span:after {
  content: '';
  background-color: var(--highlight-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(-2deg);
}

.itemInfo {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.projectItemImage {
  margin-bottom: 3rem;
  overflow: hidden;
}

.projectItemImage img {
  width: 100%;
}

.projectItemInfo {
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: all 350ms;
}

.itemStack {
  font-weight: bold;
  font-size: 1.35rem;
  margin-bottom: 2.6rem;
}

.itemView {
  margin-top: auto;
}

.itemView a {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  margin-right: 2rem;
  font-weight: bold;
  border-radius: 50px;
  letter-spacing: 1px;
  font-size: 1rem;
  transition: 300ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.itemView svg {
  width: 14px;
  margin-right: 4px;
  max-height: 10px;
}

.itemView a:hover {
  transform: translateY(-1px);
}

.linkHighlight {
  background: var(--highlight-color);
  color: #fff !important;
}
.linkBorder {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.linkBorder svg {
  min-width: 14px;
}

.itemView {
  display: flex;
  justify-content: center;
}

.itemInfo,
.itemStack {
  color: var(--primary-color);
}

.itemInfo a {
  display: inline;
  color: var(--primary-color);
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
}

.projectItem {
  margin-bottom: 2.5rem;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  transition: all 350ms;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--border-repo);
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.projectItem:hover {
  transform: translateY(-4px);
}

.projectItem:hover .Project__itemInfo {
  background-color: rgba(0, 195, 255, 0.167);
}

.projectItem__wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .project ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .projectItem {
    width: calc(33.33% - 30px);
    margin: 0 15px 25px;
  }
  .portfolioTitle {
    font-size: 2.6rem;
  }

  .projectItem h3 {
    font-size: 2rem;
  }

  .projectItemImage {
    margin-bottom: 0;
    max-height: 200px;
  }
}

.packages .itemView {
  justify-content: flex-start;
}

.packages ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 15px;

  @media (max-width: 576px) {
    margin: 0;
  }
}

.packages li {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--sub-color);
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.02);
  margin: 0 15px;
  width: calc(33.33% - 30px);

  @media (max-width: 768px) {
    width: calc(50% - 30px);
  }

  @media (max-width: 576px) {
    width: 100%;
    margin: 0;
  }
}

.packageName {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.8rem;
}

.packageDesc {
  color: var(--primary-color);
  font-size: 1.4rem;
  margin: 4px 0 12px;
}
