.wrapperWork22 {
  width: 100%;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #9d9d9d;
  border-radius: 8px;
}
.wrapperWork22.no-goo .button-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapperWork22.no-goo .button-content .button-content-inner {
  filter: none !important;
}
.wrapperWork22.no-goo .button-content .button-content-inner .search-results .search-result {
  padding: 7.5px 10px;
}
.wrapperWork22.no-goo .button-content .button-content-inner .search-btn {
  padding: 5px 10px;
}
.wrapperWork22.no-goo .button-content .button-content-inner .search-btn .search-text {
  pointer-events: none;
  text-align: center;
  position: relative;
  left: 0;
}
.wrapperWork22.no-goo .button-content .button-content-inner .separate-element {
  width: 36px;
  height: 36px;
}
.wrapperWork22 .button-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapperWork22 .button-content .button-content-inner {
  filter: url(#goo-effect);
  cursor: pointer;
  max-width: max-content;
}
.wrapperWork22 .button-content .button-content-inner .search-results {
  position: relative;
  z-index: -1;
}
.wrapperWork22 .button-content .button-content-inner .search-results .search-result {
  background-color: #000;
  border-radius: 40px;
  padding: 12.5px 20px;
  width: 100%;
  color: #ddd;
  position: absolute;
  left: -30px;
  font-size: 14px;
}
.wrapperWork22
  .button-content
  .button-content-inner
  .search-results
  .search-result
  .search-result-title {
  display: flex;
  align-items: center;
  gap: 1px;
}
.wrapperWork22
  .button-content
  .button-content-inner
  .search-results
  .search-result
  .search-result-title
  span {
  position: relative;
  top: -0.35px;
}
.wrapperWork22
  .button-content
  .button-content-inner
  .search-results
  .search-result
  .search-result-title
  svg {
  position: relative;
  top: 2px;
  width: 18px;
  height: 18px;
}
.wrapperWork22 .button-content .button-content-inner .search-btn {
  color: #ddd af;
  cursor: pointer;
  letter-spacing: -0.5px;
  background-color: #000;
  outline: none;
  border: none;
  border-radius: 9999px;
  padding: 10px 20px;
}
.wrapperWork22 .button-content .button-content-inner .search-btn .search-text {
  pointer-events: none;
  text-align: center;
  position: relative;
  left: 4px;
}
.wrapperWork22 .button-content .button-content-inner .search-btn .search-input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ddd;
}
.wrapperWork22 .button-content .button-content-inner .separate-element {
  position: absolute;
  background-color: #000;
  width: 40px;
  height: 40px;
  right: 0px;
  top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.wrapperWork22 .button-content .button-content-inner .separate-element svg {
  width: 20px;
  height: 20px;
}
.wrapperWork22 .button-content .button-content-inner .separate-element svg path {
  fill: #ddd;
}
.wrapperWork22 .button-content .button-content-inner .separate-element svg.loading-icon {
  width: 20px;
  height: 20px;
  animation: rotate 0.5s linear infinite;
  transform-origin: center center;
}
@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}
