.About__heading {
  margin-bottom: 4.5rem;
}

.About__title {
  color: var(--highlight-color);
  font-size: 2rem;
  margin: 0px 0px 1rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: color 0.2s ease-out 0s;
  text-align: center;
}

.About__subtitle {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 300;
}

.About__subtitle span {
  font-weight: 600;
  font-style: italic;
}

.About__me p {
  font-size: 1.8rem;
  color: var(--primary-color);
  text-align: center;
  font-weight: 400;
}

@media (min-width: 600px) {
  .About__title {
    font-size: 2.6rem;
  }
  .About__subtitle {
    font-size: 2rem;
  }
}
