.aboutHeading {
  margin-bottom: 4.5rem;
}

.aboutTitle {
  color: var(--highlight-color);
  font-size: 2rem;
  margin: 0px 0px 1rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: color 0.2s ease-out 0s;
  text-align: center;
}

.aboutSubtitle {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 300;
}

.aboutSubtitle span {
  font-weight: 600;
  font-style: italic;
}

.aboutMe {
  max-width: 860px;
  margin: 0 auto;
}

.aboutMe p {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-align: center;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 1.4rem;
}

.aboutMe a {
  display: inline;
  text-decoration: underline;
  font-style: italic;
  color: var(--primary-color);
  font-weight: 500;

}

.aboutContribution {
  margin: 32px 0 0;
  text-align: center;
}

.aboutContributionTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 0 0 10px;
}

.aboutContribution img {
  margin: 0 auto;
}


.aboutMeStack h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9;
  margin-top: 5rem;
  color: var(--primary-color);
}

.aboutMeStack div {
  max-width: 768px;
  margin: 12px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-flow: wrap;
}

@media (min-width: 600px) {
  .aboutTitle {
    font-size: 2.6rem;
  }

  .aboutSubtitle {
    font-size: 2rem;
  }

  .aboutMe p {
    font-size: 1.8rem;
  }

  .aboutMeStack h3 {
    text-align: center;
    font-size: 2rem;
  }

  .aboutMeStack p {
    font-size: 1.7rem;
  }
}

.hightLight {
  position: relative;
  padding: 2px 8px;
  color: #fff !important;
  font-weight: 500;
  font-style: italic;
  display: inline-block;
  margin: 2px 0;
}

.hightLight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highlight-color);
  transform: rotate(-2deg);
  z-index: -1;
}
