@import './reset.css';
@import './settings.css';


section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
