.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  background: transparent;
  border: 1px solid var(--highlight-color);
  transform: translate(-50%, -50%);
  pointer-events: none;
}
