.header {
  color: var(--primary-color);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.headerText {
  width: 90%;
  position: relative;
  z-index: 2;
  margin-bottom: 0rem;
  padding: 0 1rem;
  max-width: 117rem;
}

@media (min-width: 1170px) {
  .headerText {
    padding: 0 6rem;
  }
}

.headerText h1 {
  font-size: 4.5rem;
  color: var(--primary-color);
}

.headerText h2 {
  font-size: 1.3rem;
  color: var(--sub-color);
  font-weight: 400;
  margin-top: 2rem;
  display: flex;
}

.headerText .headerName {
  font-weight: 600;
  color: var(--highlight-color);
  margin-left: 14px;
}

.headerTagWrapper {
  width: 90px;
  position: relative;
}

.headerText .headerTag {
  font-weight: 600;
  color: var(--primary-color);
  font-style: italic;
  margin: 0 8px;
  position: absolute;
  left: 0px;
}

.headerText button {
  margin-top: 6rem;
  border: none;
  outline: none;
  color: #fffffe;
  background-color: var(--highlight-color);
  border-radius: 5rem;
  padding: 1.2rem 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
  transition: transform 350ms ease-out;
}

.headerText button:hover {
  transform: translateY(-4px);
}

@media (min-width: 370px) {
  .headerText {
    margin-bottom: 10rem;
  }

  .headerText h1 {
    font-size: 5.5rem;
  }

  .headerText h2 {
    font-size: 1.7rem;
  }

  .headerTagWrapper {
    width: 110px;
  }
}

@media (min-width: 600px) {
  .header {
    align-items: center
  }

  .headerText {
    margin-bottom: 0;
  }
  .headerText h1 {
    font-size: 7rem;
  }

  .headerText h2 {
    font-size: 1.8rem;
  }

  .headerText button {
    font-size: 1.4rem;
  }
}

.headerImage {
  position: absolute;
  z-index: 1;
  transform: rotate(-30deg);
  top: 0;
  right: -40px;
}

.headerImage img {
  max-width: 220px !important;
}

@media (min-width: 600px) {
  .headerImage img {
    max-width: 350px !important;
  }
}

@media (min-width: 800px) {
  .headerImage img {
    max-width: 500px !important;
  }
}

@media (min-width: 1025px) {
  .headerImage {
    top: -11%;
    right: -6%;
  }
  .headerImage img {
    max-width: 768px !important;
  }
}

.headerSvg {
  position: absolute;
  z-index: 1;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  fill: var(--primary-color);
  stroke: var(--primary-color);
  animation: bounce 1s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 28px;
  }
  100% {
    bottom: 10px;
  }
}

.block {
  margin-left: 4px;
  color: var(--sub-color);
  animation: fade 1s infinite;
  font-weight: bold;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
  pointer-events: none !important;
}
