.navSideDraw {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1000;
  transition: 350ms;
  background: var(--bg-header);
  backdrop-filter: blur(8px);
}

.navSideDrawActive {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
}

.navSideDrawList {
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
}

.navSideDrawLogo {
  flex: 1;
  margin: 0;
}

.navSideDrawLogo svg {
  max-width: 40px !important;
}

@media (min-width: 600px) {
  .navSideDraw {
    display: none;
  }
}

.navSide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: var(--primary-bg);
  z-index: 999;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navSideActive {
  transform: translateX(0);
}

.navSideItem {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
  transform: translateY(10px);
  opacity: 0;
  transition-duration: 350ms;
  transition-property: transform;
  cursor: pointer;
  color: var(--primary-color);

  &:not(:last-child) {
    margin: 0 0 1.3rem;
  }
}

.navSideItem a {
  color: var(--primary-color);
}

.navSideItem:hover {
  color: var(--color-hover);

  a {
    color: var(--color-hover);
  }
}

.navSideActive .navSideItem {
  transform: translateY(0);
  opacity: 1;
}

.navSideActive .navSideItem:nth-child(1) {
  transition-delay: 100ms;
}

.navSideActive .navSideItem:nth-child(2) {
  transition-delay: 200ms;
}

.navSideActive .navSideItem:nth-child(3) {
  transition-delay: 300ms;
}
.navSideActive .btnToggle {
  transition-delay: 300ms;
  transform: translateY(0);
  opacity: 1;
}

.btnToggle {
  position: absolute;
  bottom: 40px;
  transform: translateY(10px);
  transition: all 350ms;
  opacity: 0;
}
