.containerBlog {
  padding: 100px 10px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 80px 10px;
  }

  // * {
  //   color: var(--primary-color);
  //   line-height: 28px;
  //   text-align: justify;
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  li,
  a {
    margin: initial;
    padding: initial;
    font-size: initial;
    color: var(--primary-color);
    line-height: 28px;
    text-align: justify;
  }

  ul {
    padding: 0 38px;
  }

  h1 {
    font-size: 26px;
    margin: 14px 0 10px;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
  h2 {
    font-size: 24px;
    margin: 14px 0 10px;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 22px;
    margin: 10px 0;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  p {
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  u {
    text-decoration: unset;
  }

  :global {
    .img {
      margin: 12px 0;
      text-align: center;
    }
  }
}
