.contactTitle {
  color: var(--highlight-color);
  font-size: 2rem;
  margin: 0px 0px 1.6rem;
  font-weight: 700;
  transition: color 0.2s ease-out 0s;
  text-align: center;
}

.contactMail {
  color: var(--primary-color);
  font-size: 1.6rem;
  position: relative;
  font-weight: 600;
  margin-top: 5.5rem;
  margin-bottom: 3rem;
  transition: color 0.2s ease-out 0s;
  text-align: center;
}

.contactSocials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactSocials li {
  margin: 0 0.6rem;
}

.contactSocials li a {
  padding: 0.8rem;
  border: 2px solid var(--highlight-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 350ms;
}

.contactSocials li a svg {
  width: 16px;
  height: 16px;
}

.contactSocials li a:hover {
  background-color: var(--color-hover);
}

@media (min-width: 600px) {
  .contactTitle {
    font-size: 2.6rem;
  }
  .contactMail {
    font-size: 2rem;
  }

  .contactSocials li {
    margin: 0 1.5rem;
  }

  .contactSocials li a svg {
    width: 20px;
    height: 20px;
  }

  .contactSocials li {
    margin: 0 1rem;
  }

  .contactSocials li a {
    padding: 1rem;
  }
}

.contact path {
  fill: var(--primary-color) !important;
}

.donate {
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
}
