.containerBottomNavigation {
  position: fixed;
  bottom: 33px;
  left: 50%;
  z-index: 1000;
  background: var(--bg-bottom);
  transform: translateX(-50%);
  backdrop-filter: blur(8px);
  border-radius: 50px;
  padding: 4px;
  border: 1px solid var(--border-bottom);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --item-width: 64px;

  :global {
    .nav {
      --binoculars-top-offset: 5px;
      --items: 6;
      --current-item: 0;
      --enter-nav: 0;
      position: relative;
    }

    .nav .nav-inner,
    .nav .binoculars {
      list-style: none;
      display: flex;
      white-space: nowrap;
    }

    .nav .binoculars {
      position: absolute;
      z-index: 22;
      left: 50%;
      translate: -50% 0;
      transform: translate(
        calc(var(--x) * var(--item-width)),
        calc(var(--y) * (var(--item-width) * 0.5))
      );
      bottom: calc(100% + var(--binoculars-top-offset));
      width: calc(var(--items) * var(--item-width));
      height: 100%;
      opacity: var(--enter-nav);
      background-color: var(--bg-item-active) !important;
      clip-path: inset(
        0 calc(100% - (var(--item-width) * (var(--current-item) + 1))) 0
          calc(var(--item-width) * var(--current-item)) round 10px
      );
      pointer-events: none;
      transition: all 0.3s;
    }

    .nav .binoculars li {
      width: var(--item-width);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      color: var(--primary-color);
      padding: 6px 8px;
      white-space: nowrap;
    }
  }

  ul {
    display: flex;

    li,
    a {
      flex: 1;
    }

    button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
    }

    a:hover,
    button:hover {
      transform: translateY(-4px);
    }

    a,
    button {
      width: 100%;
      max-width: 48px;
      height: 48px;
      border-radius: 999px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: all 350ms ease-in-out;

      border: 1px solid var(--border-bottom);
      background-color: var(--bg-item);
    }

    a {
      position: relative;
    }

    a::before {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: var(--primary-color);
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 350ms ease-in-out;
    }

    i {
      font-size: 22px;
      color: var(--item-color);
    }
  }
}

.navItem {
  position: relative;
  width: var(--item-width);
  display: flex;
  justify-content: center;
  align-items: center;

  // > span {
  //   position: absolute;
  //   bottom: calc(100% + 14px);
  //   left: 50%;
  //   opacity: 0;
  //   display: block;
  //   z-index: 3;
  //   border-radius: 6px;
  //   color: var(--primary-color);
  //   padding: 6px 8px;
  //   border: 1px solid var(--border-bottom);
  //   background-color: var(--bg-item);
  //   white-space: nowrap;
  //   transform: translate(-50%, 5px);
  //   transition: all 350ms ease-in-out;
  //   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  // }
}

.active {
  transform: translateY(-12px) !important;
  background-color: var(--bg-item-active) !important;

  &::before {
    opacity: 1 !important;
  }

  i {
    color: var(--item-color-active) !important;
  }
}

// @keyframes appear {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
