@import './reset.css';
@import './settings.css';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.icon-logo {
  stroke: var(--highlight-color);
  transition: stroke 350ms;
}


.icon-logo path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: logoDraw 1.25s ease-in-out forwards;
}


@keyframes logoDraw {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0
  }
}
