@import './reset.css';
@import './settings.css';
@import './icon/icon-css.css';

@import './work/11.css';
@import './work/work22.css';

* {
  text-rendering: optimizeLegibility;
}

html.touch * {
  text-rendering: optimizeSpeed;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: var(--fontGeist), sans-serif !important;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
}

main {
  padding: 0 0 80px;
}

/* Chrome, Safari, Opera */
body::-webkit-scrollbar {
  width: 0;
}

body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.icon-logo {
  stroke: var(--highlight-color);
  transition: stroke 350ms;
}

.icon-logo path {
  stroke-dashoffset: 1px;
  stroke-dasharray: 350px 0;
  animation: logoDraw 8s ease forwards infinite;
}

@keyframes logoDraw {
  0% {
    stroke-dashoffset: 1px;
    stroke-dasharray: 0 1000;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    stroke-dasharray: 1000 0;
  }
  /* Moving back */
  85% {
    stroke-dasharray: 1000 0;
  }
  95%,
  to {
    stroke-dasharray: 0 1000;
  }
}

.blogDetail {
  ol,
  ul {
    list-style: initial !important;
  }
}

.hightLight {
  position: relative;
  padding: 2px 8px;
  color: #fff !important;
  font-weight: 500;
  font-style: italic;
  display: inline-block;
  margin: 2px 0;
}

.hightLight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highlight-color);
  transform: rotate(-2deg);
  z-index: -1;
}

.object-contain {
  object-fit: contain;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
[data-theme='dark']::view-transition-old(root) {
  z-index: 9999;
}
[data-theme='dark']::view-transition-new(root) {
  z-index: 1;
}

.skeleton {
  background-color: var(--skeleton) !important;
  // The shine that's going to move across the skeleton:
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  ) !important;
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1.2s ease-in-out infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

.no-scrollbar {
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
