:root {
  --primary-color: #0f0e17;
  --sub-color: #2e2f3e;

  --primary-bg: #fffffe;

  --highlight-color: #f25f4c;
  --color-hover: #f25f4c;

  --wrapper: 192rem;
  --container: 117rem;

  animation: rainbow 40s linear infinite;

  --border-repo: rgba(0, 0, 0, 0.1);

  --bg-header: #ffffffa6;

  --skeleton: #e2e5e7;

  --bg-bottom: #fafafa;
  --bg-item: #fafafa;
  --bg-item-active: #efeff0;
  --border-bottom: #e4e4e7;
  --item-color: #71717a;
  --item-color-active: #0a0b0b;
}

[data-theme='dark'] {
  --primary-color: #fefefe;
  --sub-color: #a7a9be;
  --primary-bg: #050505;
  --border-repo: rgba(255, 255, 255, 0.1);
  --bg-header: #000000a6;
  --skeleton: #404040a6;

  --bg-bottom: #0a0b0d;
  --bg-item: #191919;
  --bg-item-active: #27272a;
  --item-color: #a1a1aa;
  --item-color-active: #fafafa;
  --border-bottom: #27272a;
}

[data-theme='dark'] .blogTag {
  color: white !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::placeholder,
textarea::placeholder {
  opacity: 0.7;
  font-weight: 500;
}

html {
  font-size: 62.5% !important;
}

body {
  font-weight: 300;
  line-height: 1.4;
  overflow-x: hidden;
  background-color: var(--primary-bg);
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.Wrapper {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.container {
  max-width: var(--container);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* ::selection {
  background: #fff5b8;
  display: block;
} */

@keyframes rainbow {
  0% {
    --highlight-color: #00a98e;
    --color-hover: #00a98e;
  }

  1.25% {
    --highlight-color: #00a996;
    --color-hover: #00a996;
  }

  2.5% {
    --highlight-color: #00a99f;
    --color-hover: #00a99f;
  }

  3.75% {
    --highlight-color: #00a9a7;
    --color-hover: #00a9a7;
  }

  5% {
    --highlight-color: #00a9b0;
    --color-hover: #00a9b0;
  }

  6.25% {
    --highlight-color: #00a9b8;
    --color-hover: #00a9b8;
  }

  7.5% {
    --highlight-color: #00a9c0;
    --color-hover: #00a9c0;
  }

  8.75% {
    --highlight-color: #00a8c7;
    --color-hover: #00a8c7;
  }

  10% {
    --highlight-color: #00a8cf;
    --color-hover: #00a8cf;
  }

  11.25% {
    --highlight-color: #00a7d5;
    --color-hover: #00a7d5;
  }

  12.5% {
    --highlight-color: #00a6dc;
    --color-hover: #00a6dc;
  }

  13.75% {
    --highlight-color: #00a6e2;
    --color-hover: #00a6e2;
  }

  15% {
    --highlight-color: #00a4e7;
    --color-hover: #00a4e7;
  }

  16.25% {
    --highlight-color: #00a3ec;
    --color-hover: #00a3ec;
  }

  17.5% {
    --highlight-color: #00a2f1;
    --color-hover: #00a2f1;
  }

  18.75% {
    --highlight-color: #00a0f4;
    --color-hover: #00a0f4;
  }

  20% {
    --highlight-color: #009ff7;
    --color-hover: #009ff7;
  }

  21.25% {
    --highlight-color: #009dfa;
    --color-hover: #009dfa;
  }

  22.5% {
    --highlight-color: #009bfc;
    --color-hover: #009bfc;
  }

  23.75% {
    --highlight-color: #0098fd;
    --color-hover: #0098fd;
  }

  25% {
    --highlight-color: #0096fd;
    --color-hover: #0096fd;
  }

  26.25% {
    --highlight-color: #0093fd;
    --color-hover: #0093fd;
  }

  27.5% {
    --highlight-color: #2e90fc;
    --color-hover: #2e90fc;
  }

  28.75% {
    --highlight-color: #4d8dfa;
    --color-hover: #4d8dfa;
  }

  30% {
    --highlight-color: #638af8;
    --color-hover: #638af8;
  }

  31.25% {
    --highlight-color: #7587f5;
    --color-hover: #7587f5;
  }

  32.5% {
    --highlight-color: #8583f1;
    --color-hover: #8583f1;
  }

  33.75% {
    --highlight-color: #9280ed;
    --color-hover: #9280ed;
  }

  35% {
    --highlight-color: #9f7ce9;
    --color-hover: #9f7ce9;
  }

  36.25% {
    --highlight-color: #aa78e3;
    --color-hover: #aa78e3;
  }

  37.5% {
    --highlight-color: #b574dd;
    --color-hover: #b574dd;
  }

  38.75% {
    --highlight-color: #be71d7;
    --color-hover: #be71d7;
  }

  40% {
    --highlight-color: #c76dd1;
    --color-hover: #c76dd1;
  }

  41.25% {
    --highlight-color: #cf69c9;
    --color-hover: #cf69c9;
  }

  42.5% {
    --highlight-color: #d566c2;
    --color-hover: #d566c2;
  }

  43.75% {
    --highlight-color: #dc63ba;
    --color-hover: #dc63ba;
  }

  45% {
    --highlight-color: #e160b3;
    --color-hover: #e160b3;
  }

  46.25% {
    --highlight-color: #e65eab;
    --color-hover: #e65eab;
  }

  47.5% {
    --highlight-color: #e95ca2;
    --color-hover: #e95ca2;
  }

  48.75% {
    --highlight-color: #ed5a9a;
    --color-hover: #ed5a9a;
  }

  50% {
    --highlight-color: #ef5992;
    --color-hover: #ef5992;
  }

  51.25% {
    --highlight-color: #f15989;
    --color-hover: #f15989;
  }

  52.5% {
    --highlight-color: #f25981;
    --color-hover: #f25981;
  }

  53.75% {
    --highlight-color: #f25a79;
    --color-hover: #f25a79;
  }

  55% {
    --highlight-color: #f25c71;
    --color-hover: #f25c71;
  }

  56.25% {
    --highlight-color: #f15e69;
    --color-hover: #f15e69;
  }

  57.5% {
    --highlight-color: #ef6061;
    --color-hover: #ef6061;
  }

  58.75% {
    --highlight-color: #ed635a;
    --color-hover: #ed635a;
  }

  60% {
    --highlight-color: #eb6552;
    --color-hover: #eb6552;
  }

  61.25% {
    --highlight-color: #e8694b;
    --color-hover: #e8694b;
  }

  62.5% {
    --highlight-color: #e46c44;
    --color-hover: #e46c44;
  }

  63.75% {
    --highlight-color: #e06f3d;
    --color-hover: #e06f3d;
  }

  65% {
    --highlight-color: #db7336;
    --color-hover: #db7336;
  }

  66.25% {
    --highlight-color: #d77630;
    --color-hover: #d77630;
  }

  67.5% {
    --highlight-color: #d17a2a;
    --color-hover: #d17a2a;
  }

  68.75% {
    --highlight-color: #cc7d24;
    --color-hover: #cc7d24;
  }

  70% {
    --highlight-color: #c6811e;
    --color-hover: #c6811e;
  }

  71.25% {
    --highlight-color: #bf8418;
    --color-hover: #bf8418;
  }

  72.5% {
    --highlight-color: #b98713;
    --color-hover: #b98713;
  }

  73.75% {
    --highlight-color: #b28a0f;
    --color-hover: #b28a0f;
  }

  75% {
    --highlight-color: #ab8d0c;
    --color-hover: #ab8d0c;
  }

  76.25% {
    --highlight-color: #a3900b;
    --color-hover: #a3900b;
  }

  77.5% {
    --highlight-color: #9c920d;
    --color-hover: #9c920d;
  }

  78.75% {
    --highlight-color: #949510;
    --color-hover: #949510;
  }

  80% {
    --highlight-color: #8b9715;
    --color-hover: #8b9715;
  }

  81.25% {
    --highlight-color: #83991b;
    --color-hover: #83991b;
  }

  82.5% {
    --highlight-color: #7a9b21;
    --color-hover: #7a9b21;
  }

  83.75% {
    --highlight-color: #719d27;
    --color-hover: #719d27;
  }

  85% {
    --highlight-color: #679e2e;
    --color-hover: #679e2e;
  }

  86.25% {
    --highlight-color: #5da035;
    --color-hover: #5da035;
  }

  87.5% {
    --highlight-color: #51a13c;
    --color-hover: #51a13c;
  }

  88.75% {
    --highlight-color: #44a244;
    --color-hover: #44a244;
  }

  90% {
    --highlight-color: #34a44b;
    --color-hover: #34a44b;
  }

  91.25% {
    --highlight-color: #1ba553;
    --color-hover: #1ba553;
  }

  92.5% {
    --highlight-color: #00a65b;
    --color-hover: #00a65b;
  }

  93.75% {
    --highlight-color: #00a663;
    --color-hover: #00a663;
  }

  95% {
    --highlight-color: #00a76c;
    --color-hover: #00a76c;
  }

  96.25% {
    --highlight-color: #00a874;
    --color-hover: #00a874;
  }

  97.5% {
    --highlight-color: #00a87d;
    --color-hover: #00a87d;
  }

  98.75% {
    --highlight-color: #00a985;
    --color-hover: #00a985;
  }

  to {
    --highlight-color: #00a98e;
    --color-hover: #00a98e;
  }
}
