// z-10 inline-block relative text-left text-neutral-900 dark:text-neutral-100 px-2
.flip {
  display: inline-block;
  position: relative;
  text-align: left;
  z-index: 10;
  padding: 0 0.5rem;
}

.letter {
  display: inline-block;
}
